* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--Strong-Cyan: hsl(171, 66%, 44%);
	--Light-Blue: hsl(233, 100%, 69%);

	--Dark-Grayish-Blue: hsl(210, 10%, 33%);
	--Grayish-Blue: hsl(201, 11%, 66%);
}

.backgroundImage {
	width: 100%;
}

.container {
	text-align: center;
	font-family: "Bai Jamjuree", sans-serif;
	max-width: 1000px;
	margin: 0 auto;
	flex-wrap: wrap;
}

.firstBox {
	margin-top: -130px;
}

.title {
	color: var(--Dark-Grayish-Blue);
	margin-top: 50px;
}
.paragraf {
	color: var(--Grayish-Blue);
	margin-top: 20px;
}

.buttons {
	width: 380px;
	gap: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	margin-top: 50px;
}

.iosButton {
	padding: 10px 20px;
	background-color: var(--Strong-Cyan);
	border-radius: 20px;
	color: white;
	border: none;
	cursor: pointer;
}
.macButton {
	padding: 10px 20px;
	border-radius: 20px;
	background-color: var(--Light-Blue);
	color: white;
	border: none;
	cursor: pointer;
}

.iosButton:hover {
	background-color: hsla(171, 66%, 44%, 0.8);
}
.macButton:hover {
	background-color: hsla(233, 100%, 69%, 0.8);
}
.secondTitle {
	color: var(--Dark-Grayish-Blue);
	margin-top: 50px;
}

.secondParagraf {
	color: var(--Grayish-Blue);
	margin-top: 20px;
}

.thirdBox {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
	text-align: left;
	gap: 30px;
}

.imgComputer {
	max-width: 100%;
	display: block;
}
.rightTitle {
	color: var(--Dark-Grayish-Blue);
}

.thirdParagraf {
	color: var(--Grayish-Blue);
	font-size: 0.875rem;
	margin-top: 10px;
	margin-bottom: 10px;
}

.secondImage {
	width: 80%;
	margin-top: 50px;
}

.sixBox {
	display: flex;
	flex-direction: row;
	margin-top: 80px;
}

.sixBoxLogo {
	margin-bottom: 20px;
}

.logos {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 50px;
	gap: 50px;
}

footer {
	background-color: rgb(241, 241, 241);
	height: 100px;
	margin-top: 50px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.footerLogo img {
	width: 40px;
	margin: 0;
}

ul {
	display: flex;
	flex-direction: row;
	gap: 20px;
	cursor: pointer;
}
li {
	list-style-type: none;
	color: var(--Grayish-Blue);
}

li:hover {
	color: var(--Strong-Cyan);
}

.colorLogo {
	color: var(--Dark-Grayish-Blue);
	padding-left: 20px;
}

.colorLogo:hover {
	color: var(--Strong-Cyan);
}

@media only screen and (max-width: 640px) {
	.container {
		max-width: 400px;
		margin: 0 auto;
	}
	.thirdBox {
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	.sixBox {
		display: flex;
		flex-direction: column;
	}

	.logos {
		display: flex;
		flex-direction: column;
	}

	footer {
		display: flex;
		flex-direction: column;
		height: 300px;
	}

	ul {
		display: flex;
		flex-direction: column;
	}

	.buttons {
		display: flex;
		flex-direction: column;
	}

	.iosButton {
		padding: 15px 80px;
	}
	.macButton {
		padding: 15px 80px;
		margin-top: 10px;
	}
}
